.logo{
	width:40px;
	float: right;
	margin-right:30px;
}

#logo_git{
	margin-right:20px;
}

.textGui2{
	margin-left:3%;
	margin-right:3%;
}
.textGui1{
	margin-left:2%;
	margin-right:2%;
}
.Gui-images{
	margin-left:auto;
	margin-right:auto;
}